<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verity</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="hero">
    <header>
        <img src="images/Verity.svg" class="logo">
        <nav>
            <a href="index.html">Home</a>
            <a href="voting.html">Dashboard</a>
            <a href="#">Results</a>
            <a href="#">Help</a>
            <a href="#">Logout</a>
            <div class="animation-start-home"></div>
        </nav>
    </header>
    </div>
    
    
    

   
<script src="https://cdn.jsdelivr.net/npm/ethers@5.7.0/dist/ethers.umd.min.js"></script>
</body>
</html>